/* Base Styles */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #172448;
  color: white;
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100vh;
  font-size: 21px;
  font-weight: 100;
  background: repeating-linear-gradient(
      45deg,
      #2e2048 0%,
      #2e2048 10%,
      #172448 0%,
      #172448 50%
    )
    0/15px 15px;
}

body #content-wrapper {
  text-align: center;
  padding: 0 8vw 12vh 8vw;
}

/* Title Area */
@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #ff1177, 0 0 70px #ff1177,
      0 0 80px #ff1177, 0 0 100px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff1177, 0 0 35px #ff1177,
      0 0 40px #ff1177, 0 0 50px #ff1177;
  }
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #ff1177, 0 0 70px #ff1177,
      0 0 80px #ff1177, 0 0 100px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff1177, 0 0 35px #ff1177,
      0 0 40px #ff1177, 0 0 50px #ff1177;
  }
}

#title {
  font-size: 5rem;
  font-weight: 300;
  line-height: 5rem;
}

#title a {
  color: #fff;
  font-family: 'Monoton';
  -webkit-animation: neon 3s ease-in-out infinite alternate;
  animation: neon 3s ease-in-out infinite alternate;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#title a:hover {
  -webkit-animation: none;
  animation: none;
  color: #ffffff;
}

/* Description Area */
#text-wrapper {
  position: relative;
  margin: 0 auto;
  width: 700px;
  height: 200px;
  --height: 200;
  --width: 700;
}

#text-wrapper:hover rect {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: calc(var(--height) * 2 + var(--width) * 2);
}

#text-wrapper rect {
  stroke-dasharray: 500 1200;
  stroke-dashoffset: -1200;
  stroke-width: 4px;
  fill: transparent;
  stroke: #ff1177;
  -webkit-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

#text-wrapper .text {
  color: #fff;
  top: -220px;
  position: relative;
  padding: 30px;
}

#text-wrapper .text p {
  line-height: 28px;
}

#text-wrapper .text p a {
  border-bottom: 2px solid #fff922;
  color: white;
  text-decoration: none;
  font-weight: 300;
}

#text-wrapper .text p a:hover {
  color: #ff1177;
  border-bottom: 2px solid #ff1177;
}

#text-wrapper .text p .emphasis {
  font-style: italic;
}
